extends Menu

block content
		h2 Busca el Historial de un Jugador de la NBA 
		form(id="historial" action="/historial" method="post")
			p
				label(for="jugador") Escribe un jugador
				input(type="text" name="jugador" id="jugador")
			
			p
				input(type="submit" name="enviar" value="enviar")