extends Menu

block content
		form(id="nuevojugador" action="/insertaJugador" method="post")
			p
				label(for="jugador") Nombre:
				input(id="jugador" type="text" name="nombre")
			p
				input(type="submit" value="Publicar")