doctype html
html
	head
		meta(charset="utf-8")
		title PC BASKET
		link(rel='stylesheet', href='/stylesheets/style.css')
		
	body
		h1(id="titulo") BASE DE DATOS NBA
		div(class="menu")
			ul(class="desplegable")
				li
					a(href="/historial") Historial
				li
					a(href="/plantillas")  Equipos
				li
					a(href="/insertaJugador")  Insertar_Jugador
				li
					a(href="/insertaLeyenda")  Insertar_Leyenda
				li
					a(href="/insertaTemporadas")  Insertar_Historial
		p(id="checking") #{mensaje}
		block content