extends Menu

block content
		p #{mensaje}
		h2 Lista la plantilla Actual del Club de la NBA que desees
		form(id="buscaEquipo" action="/buscadorEquipo" method="post")
			p Buscar Equipo:
				if registros
					select(name="equiposActuales" form="buscaEquipo")
						each registro in registros
							option(value=registro.id_equipo) #{registro.club}
			p
				input(type="submit" value="Buscar")